<%-include('../partials/header')%>
<%-include('../partials/navbar')%>
<%-include('../partials/flash')%>

<div class="row mt-5">
    <% for(let cartItem of user.cart){ %>

        <div class="col-lg-4 product-card">
            <div class="card text-center shadow mt-3 mx-auto" style="width: 18rem;">
                <img class="img" src="<%=cartItem.img%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title"> <%= cartItem.name %> </h3>
                  <h5 class="card-title"> Rs: <%= cartItem.price %> </h5>
                  <!-- <p class="card-text"> <%= cartItem.stock %> </p> -->
                  
                  <!-- quantity dropdown -->
                  <form action="/user/cart/quantity/<%= cartItem._id %>" class="d-inline-block" method="post">
                    <select class="form-select" name="quantity" aria-label="Default select example" style="width: 4rem;" onchange="this.form.submit()">
                      <option selected disabled><%= cartItem.quantity %></option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                    </select>
                  </form>
                  <!-- <a href="/products/<%=cartItem._id%>" class="btn btnn btn-primary">View Product</a> -->

                  <!-- remove from cart -->
                  <form action="/user/<%=cartItem._id%>/cart/remove" class="d-inline-block" method="post">
                    <button type="submit" class="btn btnn btn-primary">Remove</button>
                  </form>
                </div>
            </div>
        </div>
    <% } %>
</div>
<div class="col-lg-4">
  <% let totalAmount = 0; %>
  <ul>
    <% for(let cartItem of user.cart){ %>
      <% let itemAmount = cartItem.price * cartItem.quantity %>
      <li><span> <%= cartItem.name %> --&gt; &#x20B9; <%= cartItem.price %> * <%= cartItem.quantity %> =&gt; &#x20B9; <%= itemAmount %></span></li>
      <% totalAmount = totalAmount + itemAmount %>
    <% } %>

    <!-- total amount -->
    <% if(totalAmount > 0){ %>
      <h5>Total Amount --&gt; &#x20B9; <%= totalAmount %> </h5>
      <a href="/user/checkout"> <button class="btn btn-primary">Checkout</button> </a>
    <% } else { %>
      <h3 class="mt-5 text-center">cart is empty</h3>
    <% } %>
    
  </ul>
</div>

<script src="/js/common.js"></script>
<%-include('../partials/footer')%>